body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3f4f6;
    /*Hinweis: Die Farbcodes wurden jeweils mit ChatGPT erstellt, damit die Faben und ihre Variationen optisch gut zueinander passen*/
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

header {
    background-color: #0074d9;
    color: #fff;
    padding: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 1.8rem;
    text-align: center;
    flex: 1;
    cursor: pointer;
}

.search-container {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 800px;
    padding: 1rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 1rem;
}

.search-input {
    flex: 1;
    padding: 0.5rem;
    border: 2px solid #0074d9;
    border-radius: 5px;
    margin-right: 0.5rem;
    font-size: 1rem;
    width: auto;
    margin-left: 0.5rem;
}

.search-input-large {
    padding: 0.75rem;
}

.search-button {
    background-color: #0074d9;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    width: flex;
    font-size: 1rem;
    transition: background-color 0.3s;
    margin-right: 0.5rem;
    /* Animation der Hintergrundfarbe über 0,3 Sekunden*/
}
.search-button:hover {
    background-color: #0056b3;
}
main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.result-container {
    max-width: 100%;
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.result-box {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    /* Hinzufügen einer optischen Tiefe, damit die Ergebnissbox optisch ansprechender ist*/
    padding: 1rem;
    width: 100%;
    text-align: center;
}

.search-prompt {
    font-size: 0.9rem;
    margin: 0;
    line-height: 1.3;
}
.user-card {
    background-color: #fff;
    flex: 0 0 100%;
    margin: 0.5rem 0;
    padding: 1rem;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}
.user-card:hover {
    transform: scale(1.05);
}
.user-card img {
    max-width: 100%;
    border-radius: 5px;
}

.user-card-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}
.user-card-details button {
    width: 100%;
    background-color: #0074d9;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 0.3rem 1rem;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}
.user-card-details button:hover {
    background-color: #0056b3;
}


/* Responsives Design für Geräte mit einer Auflösung >768px */
@media screen and (min-width: 768px) {

    header {
        width: 100%;
        background-color: #0074d9;
        padding: 1rem;
    }


    .search-container {
        flex-direction: row;
        justify-content: space-between;
    }

    .search-input {
        border-radius: 5px;
        margin-left: o;
        /*Hinzufügen runder Ecken */
    }

    .search-button {
     margin-right: 0;
     width: auto;
    }


    .result-container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .user-card {
        margin: 1rem;
        flex: 0 0 calc(33.333% - 2rem);
        /*Die wird für die flexible Anpassung der Größe der Usercards auf verschienden Bildschirmgrößen verwenden*/
        transition: transform 0.3s;
    }


    .user-card-details button {
        width: 100%;
    }

    /* Optische Abgrenzung der Suchergebnisse */
    .user-card:not(:last-child) {
        border-right: 2px solid #f3f4f6;
    }

    .result-box {
        padding: 1rem;
        background-color: #f8f8f8;
        border: 1px solid #e1e1e1;
        border-radius: 5px;
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
        margin: 1rem;
        text-align: center;
    }


    .user-card:hover {
        transform: scale(1.05);
        /*Vergrößerung der User Cards beim hovern */
    }
}
